.responsive-table tr:nth-child(odd) td {
  background-color: #a4b6f1;
}

.responsive-table tr:nth-child(even) td {
  background-color: #b9d40a;
}

@media screen and (max-width: 600px) {
  .responsive-table {
    width: 90%;
  }
  .responsive-table tr {
    display: block;
    float: left;
  }
  .responsive-table tr td,
  .responsive-table tr {
    border-left: none;
    display: block;
    height: 50px;
  }
  .responsive-table tbody {
    display: block;
    float: left;
    width: 70%;
  }
  .responsive-table tbody tr {
    width: 50%;
  }
  .responsive-table tr td + td {
    border-left: none;
  }
}